* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  width: 1280px;
  font-family: "Montserrat", sans-serif;
}
header {
  padding: 26px 0;
}

ul {
  list-style-type: none;
  text-align: center;
}

.menu-iitem {
  padding-left: 72px;
  display: inline-block;
}

.menu-download {
  padding-left: 50px;
}

.menu-iitem-link {
  color: red;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.main-content {
  margin: 0 auto;
  display: block;
  width: 1145px;
}

.main-image {
  width: 100%;
  height: 789px;
}

.title {
  color: #373737;
  letter-spacing: 3.3px;
  width: 774px;
  margin: 48px 0 0 253px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.main-text {
  text-align: center;
  color: #373737;
  margin: 42px 67px 0 0;
  width: 1145px;
  height: 132px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
}

.text {
  text-align: center;
  color: #373737;
  margin: 24px 67px 74px 0;
  letter-spacing: 2.4px;
  width: 1145px;
  height: 216px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 26px;
}

.main-button {
  color: #ffffff;
  width: 191px;
  height: 51px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  padding: 18px 43px;
  background: #ff0000;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  display: block;
}

.footer-text {
  color: #373737;
  align-items: center;
  width: 462px;
  height: 39px;
  margin: 74px 0 0 713px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
}
